<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<head>
<title>Perfect Destination Traveling Website Template | About :: W3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="~/Content/style.css" rel="stylesheet" type="text/css"  media="all" />	
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
		<!---start-content---->
		<div class="content">
			<div class="wrap">
				<div class="about-us">
					 <div class="about-header">
					    <h3>About us</h3>
					 </div>
					<div class="about-info">
						<a href="#">Perfect Destination, travel bookings and services</a>
						<p>Perfect Destination, as the name suggests, is a travel agency that will take you to the destination of your dreams while also considering your budget and travel preferences.</p>
					</div>
				</div>
			</div>
			    <div class="specials">
			    	<div class="wrap">
					  <div class="specials-heading">
						<h3>Latest-News</h3>
					</div>
					<div class="specials-grids">
						<div class="special-grid">
							<img src="~/Images/grids-img1.jpg" title="image-name" />
							<a href="#">Latest Plans</a>
							<p>Check out the most recent plans regarding trips that will take place soon.</p>
						</div>
						<div class="special-grid">
							<img src="~/Images/grids-img2.jpg" title="image-name" />
							<a href="#">Pre Plans</a>
							<p>Plan ahead for a trip of your liking.</p>
						</div>
						<div class="special-grid spe-grid">
							<img src="~/Images/grids-img3.jpg" title="image-name" />
							<a href="#">New Routes</a>
							<p>Check out what new routes have opened up for travelling to your favourite destinations.</p>
						</div>
                        <div class="special-grid spe-grid">
                            <img src="~/Images/grids-img3.jpg" title="image-name" />
                            <a href="#">New Routes</a>
                            <p>Check out what new routes have opened up for travelling to your favourite destinations.</p>
                        </div>
						<div class="clear"> </div>
					</div>
			  </div>
			</div>	
			<div class="testmonials">
				<div class="wrap">
					<div class="testmonial-grid">
						<h3>TESTIMONIALS :</h3>
						<p>&#34;Travel beyond your wildest imagination&#34;</p>
						<a href="#"> - Huzaifa Babar, CEO</a>
					</div>
				</div>
			</div>
		</div>
		<!---End-content---->
		<div class="clear"> </div>
	</body>
</html>

