
@{
    ViewBag.Title = "AdminPanel";
}

<h2>Admin Panel</h2>

@Html.ActionLink("Destinations", "AdminPanelDest")
<br />
@Html.ActionLink("Offers", "AdminPanelOffer", "Home")
<br />
@Html.ActionLink("Users", "AdminPanelUser", "Home")
<br />

