<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<head>
<title>Perfect Destination Traveling Website Template | Home :: W3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="~/Content/style.css" rel="stylesheet" type="text/css"  media="all" />	
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="~/Content/responsiveslides.css">
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/responsiveslides.min.js"></script>
		  <script>
		    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 1
			      $("#slider1").responsiveSlides({
			        maxwidth: 2500,
			        speed: 600
			      });
			});
		  </script>
 </head>
    <body>
		<!--start-image-slider---->
					<div class="image-slider">
						<!-- Slideshow 1 -->
					    <ul class="rslides" id="slider1">
					      <li><img src="~/Images/slider4.jpg" alt=""></li>
					      <li><img src="~/Images/slider2.jpg" alt=""></li>
					      <li><img src="~/Images/slider3.jpg" alt=""></li>
					       <li><img src="~/Images/slider1.jpg" alt=""></li>
                            </ul>
                            
						 <!-- Slideshow 2 -->
					</div>
			<!--End-image-slider---->
		<!---End-wrap---->
		<div class="clear"> </div>
		<!---start-content---->
		<div class="content">
			    <div class="content_top">
			    	<div class="wrap">
						<h1><a href="#">WELCOME.</a></h1>
                        <p><center><b>@Session["Email"]</b></center></p>
                        <p><center><b> @Session["First Name"] @Session["Last Name"]</b></center></p>
						<p>Have a look around at some of the finest tourist destinations from around the world</p>
						<span><a class="learnmore" href="#">LEARN MORE</a></span>
					</div>
			    </div>
			<div class="content-grids">
				<div class="wrap">





				 <div class="grid">
					<a href="#"><img src="~/Images/grids-img1.jpg" title="image-name" /></a>
					<h3>DESTINATIONS</h3>
					<p>Take a look at available travel destinations from your own city and around the globe</p>
					<a class="button" href="#">More</a>
				</div>
				<div class="grid">
					<a href="#"><img src="~/Images/grids-img2.jpg" title="image-name" /></a>
					<h3>NEWS & EVENTS</h3>
					<p>Check out the schedule for upcoming events and any modifications in travel schedules</p>
					<a class="button" href="#">More</a>
				</div>
				<div class="grid last-grid">
					<a href="#"><img src="~/Images/grids-img3.jpg" title="image-name" /></a>
					<h3>Offers</h3>
					<p>Take a look at special offers for people who choose to be a member of our community</p>
					<a class="button" href="#">More</a>
				</div>
				<div class="clear"> </div>
			</div>
		 </div>
			<div class="specials">
				<div class="wrap">
					<div class="specials-heading">
						<h3>Traveling Specials</h3>
                        <div class="specials-grids">
                            <div class="special-grid">
                                <img src="~/Images/grids-img1.jpg" title="image-name" />
                                <a href="#">Latest Plans</a>
                                <p>Check out the most recent plans regarding trips that will take place soon.</p>
                            </div>
                            <div class="special-grid">
                                <img src="~/Images/grids-img2.jpg" title="image-name" />
                                <a href="#">Pre Plans</a>
                                <p>Plan ahead for a trip of your liking.</p>
                            </div>
                            <div class="special-grid spe-grid">
                                <img src="~/Images/grids-img3.jpg" title="image-name" />
                                <a href="#">New Routes</a>
                                <p>Check out what new routes have opened up for travelling to your favourite destinations.</p>
                            </div>
                            <div class="clear"> </div>
                        </div>
			    </div>
			</div>	
			<div class="testmonials">
				<div class="wrap">
					<div class="testmonial-grid">
                        <h3>TESTIMONIALS :</h3>
                        <p>&#34;Travel beyond your wildest imagination&#34;</p>
                        <a href="#"> - Huzaifa Babar, CEO</a>
					</div>
				</div>
			</div>
		</div>
            </div>
		<!---End-content---->
		<div class="clear"> </div>
	</body>
</html>

