@model List<WebApplication2.Models.offer>

@{
    ViewBag.Title = "Plans";
}

<body>
		<div class="clear"> </div>
		<!---start-content---->
		<div class="content">
            <!---start-services---->
            <div class="specials">
                <div class="wrap">
                    <div class="specials-heading">
                        <h3>Offers</h3>
                    </div>
<div class="specials-grids">
        @foreach (var item in Model)
        {


                <div class="special-grid spe-grid">
                    <img src="~/Files/@item.imgpath" title="image-name" height="150" width="100" />
                    <a href="#">@item.name</a>
                    <p>Click to see more details</p>
                </div>
        }
    <div class="clear"> </div>
    </div>
                </div>
            </div>	
		</div>
		<!---End-content---->
		<div class="clear"> </div>
	</body>
</html>

