<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<head>
<title>Perfect Destination Traveling Website Template | Services :: W3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="~/Content/style.css" rel="stylesheet" type="text/css"  media="all" />
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
		<div class="content">
				<!---start-services---->
				<div class="services">
					<div class="wrap">
					  <div class="services-header">
						<h3>Services</h3>
					 </div>
					   <div class="section group group">
							<div class="listview_1_of_2 images_1_of_2">
								<div class="listimg listimg_2_of_1">
									  <img src="~/Images/res.png">
								</div>
							    <div class="text list_2_of_1">
									<h3><span>Travel</span> Resources</h3>
									<h4>Available resources</h4>
									<p>Take a look at the range of travel methods and routes provided for our customers</p>
									 <a class="button" href="#">Learn More</a>
							   </div>
						   </div>			
							<div class="listview_1_of_2 images_1_of_2">
								<div class="listimg listimg_2_of_1">
									  <img src="~/Images/guid.png">
								</div>
								<div class="text list_2_of_1">
									  <h3><span>Access</span> Guides</h3>
									  <h4>Travel Guides</h4>
									 		<p>Sift through an array of travel guides about various destinations</p>
									  <a class="button" href="#">Learn More</a>
								</div>
							</div>
						</div>
						<div class="section group">
							<div class="listview_1_of_2 images_1_of_2">
								<div class="listimg listimg_2_of_1">
									  <img src="~/Images/air.png">
								</div>
							    <div class="text list_2_of_1 ">
									<h3><span>Airline</span> Travels</h3>
									<h4>FLY</h4>
									   <p>Our special partnership with various airlines will give you special offers</p>
									 <a class="button" href="#">Learn More</a>
							   </div>
						   </div>			
							<div class="listview_1_of_2 images_1_of_2">
								<div class="listimg listimg_2_of_1">
									  <img src="~/Images/compin.png">
								</div>
								<div class="text list_2_of_1">
									  <h3><span>Travel </span>Companions</h3>
									  <h4>Afraid to travel alone?</h4>
									    <p>Browse through some of our members who are also available to travel at specific destinations</p>
									  <a class="button" href="#">Learn More</a>
								</div>
							</div>
						</div>
				  </div>
				</div>
            </div>
				<!---End-services---->
				<div class="specials">
				   <div class="wrap">
					<div class="specials-heading">
					  <h3>Latest-News</h3>
                        <div class="specials-grids">
                            <div class="special-grid">
                                <img src="~/Images/grids-img1.jpg" title="image-name" />
                                <a href="#">Latest Plans</a>
                                <p>Check out the most recent plans regarding trips that will take place soon.</p>
                            </div>
                            <div class="special-grid">
                                <img src="~/Images/grids-img2.jpg" title="image-name" />
                                <a href="#">Pre Plans</a>
                                <p>Plan ahead for a trip of your liking.</p>
                            </div>
                            <div class="special-grid spe-grid">
                                <img src="~/Images/grids-img3.jpg" title="image-name" />
                                <a href="#">New Routes</a>
                                <p>Check out what new routes have opened up for travelling to your favourite destinations.</p>
                            </div>
                            <div class="clear"> </div>
                        </div>
			   </div>
			</div>	
		</div>
		<!---End-content---->
		
	</body>
</html>

